:host {
  .json-container {
    font-family: monospace;
    white-space: pre;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    line-height: 1.5;
  }

  .json-key {
    font-weight: bold;
    color: #d9534f;
  }
  .json-value {
    color: #5cb85c;

    &.string {
      color: green;
    }
    &.number {
      color: darkorange;
    }
    &.boolean {
      color: blue;
    }
    &.null {
      color: magenta;
    }
  }
  .json-toggle {
    cursor: pointer;
    color: #0275d8;
    user-select: none;
    margin-left: 5px;
  }
  .json-object {
    margin-left: 20px;
    border-left: 2px solid #ddd;
    padding-left: 10px;
  }
  .hidden {
    display: none;
  }
}
